# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore specific __pycache__ directories
src/database/__pycache__/
src/ocr/__pycache__/

# Ignore virtual environment
venv/

# Ignore data directories
data/raw/
data/processed/

# Ignore configuration files
config/config.yaml

# Ignore Google Cloud credentials file
config/credentials.json
